.navbar{
	background-color: var(--nav-bg);
	padding: 0px;
}

.navbar-nav{
	flex-direction: row;
	gap: 1em;
	margin: 0px 20px;
	font-size: var(--text-md) !important;
    align-items: center;
}
.top-nav i.bi{
	font-size: 30px !important;
}
.navbar-nav .nav-link{
    align-items: center;
    display: flex;
    width: 100%;
    gap: 5px;
    justify-content: flex-start;
	padding: 0.5rem 1rem;
}
.navbar-nav .nav-link::after{
	margin-left: auto !important;
}
.top-menu .navbar-nav{
	color: var(--nav-text);
}
header .navbar .top-menu .navbar-nav .dropdown-menu {
	position: absolute;
    left: -180px;
    top: 57px;
    min-width: 26vh;
}
.side-nav .top-menu .navbar-nav .dropdown-menu {
	position: absolute;
    left: 5px;
    top: -145px;
	z-index: 20;
    min-width: 26vh;
}
.top-menu .navbar-nav .dropdown-menu *{
	font-size: var(--text-md) !important;
}
.top-menu .navbar-nav .dropdown-menu .item-footer{
	background-color: var(--lightmedium);
	border-top: 1px solid var(--medium);
	font-size: var(--text-xs) !important;
	text-align: center;
}
.top-menu .navbar-nav .user-item img{
	height: 50px;
	width: 50px;
	object-fit: cover;
	border-radius: 50%;
	margin: 5px;
	border: 1px solid var(--iv-color);
}
.top-menu .dropdown-toggle::after{
	display: none;
}	

/**/
.side-nav{
	background-color: transparent;
	background-image: url('../resources/img/04bf90_fb31b5ba35d84b1688ccfab9f20f9be7.jpg');
	display: flex;
    max-width: 204px;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    width: 0px;
	transition: all 0.3s ease;
}
.side-nav.close{
	overflow: hidden;
}
@media (max-width: 800px) {
	.side-nav{
		height: 100vh;
		position: absolute;
		z-index: 4;
	}
}
.side-nav::after{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	background-color: var(--nav-bg);
	opacity: 0.8;
}
.side-nav.open{
    width: 204px;
	min-width: 204px;
}
.side-nav.close{
    width: 0px;
	min-width: 0px;
}

.side-nav .menu,
.side-nav .menu-footer{
	width: 100%;
	z-index: 10;
}
.side-nav .line-decoration{
	margin: 10px 5px;
    width: 95%;
	z-index: 10;
}
.side-nav .menu .navbar-nav{
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin: 7px;
}
.side-nav .menu .navbar-nav .nav-item{
	display: flex;
	background-color: #5a5e63;
	color: rgba(255, 255, 255, 0.74) !important;
    /* border: 1px solid black; */
	border-radius: 1em;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.side-nav .menu .navbar-nav .nav-item.dropdown-center {
	flex-direction: column;
}
.side-nav .menu .navbar-nav .nav-item .nav-link{
	color: rgba(255, 255, 255, 0.74) !important;
}
.side-nav .menu .navbar-nav .nav-item .nav-link.dropdown-toggle::after{
	margin-left: 3em;
}
.side-nav .menu .navbar-nav .dropdown-menu{
	border-radius: 1em;
    overflow-y: scroll;
    padding: 5px;
	max-height: 204px;
    margin: 5px;
    width: 98%;
}
.side-nav .menu .navbar-nav .dropdown-menu::-webkit-scrollbar{
	display: block;
	border: 1px solid var(--medium);
	border-radius: 15px;
	width: 10px;
}
.side-nav .menu .navbar-nav .dropdown-menu::-webkit-scrollbar-thumb{
	background-color: var(--iv-color);
	border-radius: 15px;
}
.side-nav .menu-footer{
	margin-top: auto;
    margin-bottom: 70px;
    border-top: 1px solid;
    padding: 15px 0px;
}

/**brand**/

.brand{
	display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    position: relative;
	min-height: 6em;
    width: 20%;
	min-width: 280px;
    transition: all 0.3s ease;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.brand a, .brand span{
	position: absolute;
	transition: all 0.3s ease;
}
.brand a{
	z-index: 1;
	left: 1em;
}
.brand.close a {
	left: 90px;
}
.brand span{
	left: 185px;
}
.brand.close span{
	left: 0px;
}


.brand .menu-icon {
	width: 30px;
	height: 21px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	cursor: pointer;
	margin: 0px 20px;
}
.brand .menu-icon .bar{
	width: 30px;
	height: 3px;
	background-color: #ffffff;
	transition: all 0.3s ease;
}

.menu-icon.close .bar:nth-child(1) {
	animation: moveBarReverse1 1s forwards;
}
.menu-icon.open .bar:nth-child(1) {
	animation: moveBar1 1s forwards;
}
.menu-icon.close .bar:nth-child(2) {
	width: 29px;
	animation: moveBarReverse2 1s forwards;
}
.menu-icon.open .bar:nth-child(2) {
	width: 29px;
	animation: moveBar2 1s forwards;
}
.menu-icon.close .bar:nth-child(3) {
	animation: moveBarReverse3 1s forwards;
}
.menu-icon.open .bar:nth-child(3) {
	animation: moveBar3 1s forwards;
}
.menu-icon.close .bar:nth-child(4) {
	animation: moveBarReverse4 1s forwards;
}
.menu-icon.open .bar:nth-child(4) {
	animation: moveBar4 1s forwards;
}

@keyframes moveBar1 {
	0% {
		width: 30px;
	}
	50% {
		width: 5px;
	}
	100% {
		width: 17px;
	} 
}
@keyframes moveBarReverse1 {
	0% {
		width: 17px;
	}
	50% {
		width: 10px;
	}
	100% {
		width: 30px;
	} 
}
@keyframes moveBar2 {
	0% {
		width: 30px;
	}
	50% {
		width: 17px;
	}
	100% {
		width: 29px;
	} 
}
@keyframes moveBarReverse2 {
	0% {
		width: 29px;
	}
	50% {
		width: 17px;
	}
	100% {
		width: 30px;
	} 
}
@keyframes moveBar3 {
	0% {
		width: 30px;
	}
	50% {
		width: 3px;
	}
	100% {
		width: 10px;
	} 
}
@keyframes moveBarReverse3 {
	0% {
		width: 10px;
	}
	50% {
		width: 3px;
	}
	100% {
		width: 30px;
	} 
}
@keyframes moveBar4 {
	0% {
		width: 30px;
	}
	50% {
		width: 15px;
	}
	100% {
		width: 23px;
	} 
} 
@keyframes moveBarReverse4 {
	0% {
		width: 23px;
	}
	50% {
		width: 15px;
	}
	100% {
		width: 30px;
	} 
}  
